.topline{
    background-color: #ccc8c8;
    /*width: 100%;*/
}
#highScores {
    float:left;
    width:50%;
}

#timer {
   padding-right: 10px;
    float: right;
   /* width:50%;*/
   
}

.card-img-top {
    width: 150px;
    height: 100px;
}